<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Overview</title>
    <link rel="stylesheet" href="portfolios_style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <!-- Top Bar og logout knap -->
    <div id="topBar_id">
        <h1>PORTFOLIOTRACKER</h1>
        <form action="/logout" method="POST" style="display: inline;">
            <button type="submit" id="logoutButton" title="Log ud">
                <span class="material-symbols-outlined">
                    account_circle_off
                </span>
            </button>
        </form>
    </div>

    <!-- Side navigation -->
    <ul>
        <li><a href="/dashboard?userId=<%= userId %>"><span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>
        <li><a href="/portfolios?userId=<%= userId %>" style="color: gray;"><span class="material-symbols-outlined" style="color: gray;">folder_open</span>Portfolios</a></li>
        <li><a href="/trade?userId=<%= userId %>"><span class="material-symbols-outlined">query_stats</span>Market</a></li>
        <li><a href="/accounts?userId=<%= userId %>"><span class="material-symbols-outlined">account_balance_wallet</span>Accounts</a></li>
        <li><a href="/profile?userId=<%= userId %>"><span class="material-symbols-outlined">person</span>Profile</a></li>
    </ul>

    <div class="container">
        <div class="header">
            <h2>Portfolios</h2>
            <button id="addPortfolioBtn" class="primary-btn">
                <span class="material-symbols-outlined">add</span>Tilføj Portefølje
            </button>
        </div>


        <div class="grid-3">
            <div class="stacked">
                <div class="card">
                    <h3>Total værdi i DKK</h3>
                    <h2>224.543 DKK</h2>
                </div>
                <div class="card">
                    <h3>Ændring sidste 30 dage</h3>
                    <h2>+1.4%</h2>
                </div>
            </div>
            <div class="card">
                <h3>Fordeling af værdi i porteføljer</h3>
                <div id="chart"></div>
            </div>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Portefølje Navn</th>
                        <th>Samlet erhvervelsespris</th>
                        <th>Samlet forventet værdi</th>
                        <th>Urealiseret gevinst</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Teknologi</td>
                        <td>54.000 DKK</td>
                        <td>59.000 DKK</td>
                        <td>5000 DKK</td>
                    </tr>
                    <tr>
                        <td>Teknologi</td>
                        <td>54.000 DKK</td>
                        <td>59.000 DKK</td>
                        <td>5000 DKK</td>
                    </tr>
                    <tr>
                        <td>Teknologi</td>
                        <td>54.000 DKK</td>
                        <td>59.000 DKK</td>
                        <td>5000 DKK</td>
                    </tr>
                    <tr>
                        <td>Teknologi</td>
                        <td>54.000 DKK</td>
                        <td>59.000 DKK</td>
                        <td>5000 DKK</td>
                    </tr>
                    <tr>
                        <td>Teknologi</td>
                        <td>54.000 DKK</td>
                        <td>59.000 DKK</td>
                        <td>5000 DKK</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>

<script>
    // Runde Diagram 
    const options = {
        chart: {
            type: 'pie',
            fontFamily: 'normalSkrift' // Ændrer skrifttype i hele grafen
        },
        series: [32, 8, 15, 16, 29],
        labels: ['Teknologi', 'Medicin', 'Energi', 'Forsvar', 'Andet'],
        colors: ['#00BFFF', '#9932CC', '#FFA500', '#90EE90', '#FF4040'],
        stroke: {
            show: false // Fjerner den hvide kant rundt om grafen
        },
        legend: {
            position: 'right',
            labels: {
                colors: '#ffffff',
                useSeriesColors: false,
                fontSize: '14px',
                fontFamily: 'normalSkrift' // Legende-skrifttype
            }
        },
        dataLabels: {
            style: {
                colors: ['#ffffff'],
                fontFamily: 'normalSkrift', // Skrifttype på procenttal
                fontWeight: 'normal'
            }
        }
    };

    const chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();

</script>